.main-container{
    
    .row{

        .navegation-bar{

        }

        .display-content{


                .h1{
                    color: aqua;
                }

                .input{
                    width: 93%;
                    height: 45px;
                    border: 1px solid black;
                    border-radius: 30px;
                    color: #000000;
                    padding: 0 0 0 42px;
                    background: rgba(255, 255, 255, 0.1);
                }
            
        }

    }
}