<IfModule mod_rewrite.c>
# Activa el módulo de reescritura
RewriteEngine On
# Excluir recursos estáticos
RewriteCond %{REQUEST_URI} !\.(js|css|scss|jpg|jpeg|png|webp|svg)$
RewriteRule ^(.*)$ index.php/$1 [L]

</IfModule>
